USE [master]
GO
/****** Object:  Database [TIENDA]    Script Date: 5/12/2021 6:23:03 p. m. ******/
CREATE DATABASE [TIENDA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TIENDA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TIENDA.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TIENDA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TIENDA_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TIENDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TIENDA]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/12/2021 6:23:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 5/12/2021 6:23:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[CEDULA] [int] NOT NULL,
	[NOMBRE] [nvarchar](100) NULL,
	[APELLIDO] [nvarchar](100) NULL,
	[TELEFONO] [nvarchar](10) NULL,
	[ESTADO] [int] NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[CEDULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 5/12/2021 6:23:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](max) NULL,
	[VALOR] [decimal](18, 2) NOT NULL,
	[ESTADO] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 5/12/2021 6:23:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CEDULA_CLIENTE] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.VENTA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VENTA_PRODUCTO]    Script Date: 5/12/2021 6:23:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA_PRODUCTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[ID_VENTA] [int] NOT NULL,
	[CANTIDAD_PRODUCTO] [int] NOT NULL,
 CONSTRAINT [PK_dbo.VENTA_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CLIENTE] ([CEDULA], [NOMBRE], [APELLIDO], [TELEFONO], [ESTADO]) VALUES (1234, N'Francisco', N'Osorio', N'3243546', 1)
INSERT [dbo].[CLIENTE] ([CEDULA], [NOMBRE], [APELLIDO], [TELEFONO], [ESTADO]) VALUES (2121, N'Felipe', N'Maltas', N'3332211', 1)
INSERT [dbo].[CLIENTE] ([CEDULA], [NOMBRE], [APELLIDO], [TELEFONO], [ESTADO]) VALUES (46412, N'Prueba1', N'PruebaA1', N'235689', 1)
SET IDENTITY_INSERT [dbo].[PRODUCTO] ON 

INSERT [dbo].[PRODUCTO] ([ID], [NOMBRE], [VALOR], [ESTADO]) VALUES (1, N'LAPIZ', CAST(1500.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[PRODUCTO] ([ID], [NOMBRE], [VALOR], [ESTADO]) VALUES (2, N'BORRADOR', CAST(1700.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[PRODUCTO] ([ID], [NOMBRE], [VALOR], [ESTADO]) VALUES (3, N'resma de papel', CAST(7500.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[PRODUCTO] OFF
SET IDENTITY_INSERT [dbo].[VENTA] ON 

INSERT [dbo].[VENTA] ([ID], [CEDULA_CLIENTE], [FECHA]) VALUES (1, 1234, CAST(N'2021-12-03 00:00:00.000' AS DateTime))
INSERT [dbo].[VENTA] ([ID], [CEDULA_CLIENTE], [FECHA]) VALUES (2, 10032581, CAST(N'2021-12-04 23:47:47.920' AS DateTime))
INSERT [dbo].[VENTA] ([ID], [CEDULA_CLIENTE], [FECHA]) VALUES (3, 1234, CAST(N'2021-12-05 01:41:33.423' AS DateTime))
SET IDENTITY_INSERT [dbo].[VENTA] OFF
SET IDENTITY_INSERT [dbo].[VENTA_PRODUCTO] ON 

INSERT [dbo].[VENTA_PRODUCTO] ([ID], [ID_PRODUCTO], [ID_VENTA], [CANTIDAD_PRODUCTO]) VALUES (1, 1, 1, 1)
INSERT [dbo].[VENTA_PRODUCTO] ([ID], [ID_PRODUCTO], [ID_VENTA], [CANTIDAD_PRODUCTO]) VALUES (2, 2, 2, 1)
INSERT [dbo].[VENTA_PRODUCTO] ([ID], [ID_PRODUCTO], [ID_VENTA], [CANTIDAD_PRODUCTO]) VALUES (3, 1, 3, 2)
SET IDENTITY_INSERT [dbo].[VENTA_PRODUCTO] OFF
USE [master]
GO
