@model FrontEnd.Models.Entities.Cliente
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Administración de Clientes</h2>

<div class="card ">
    <div class="card-header ">
        <h4 class="card-title">
            Escoge tu Opción<br />
        </h4>
    </div>
    <div class="card-body">
        <ul class="nav nav-pills nav-pills-warning" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                    Buscar
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                    Insertar
                </a>
            </li>
        </ul>
        <div class="tab-content tab-space">
            <div class="tab-pane active" id="link1">
                <form method="post" action="Buscar">
                    <div class="form-group">
                        <label for="Cedula" class="bmd-label-floating">Cedula</label>
                        <input type="number" class="form-control" id="CEDULA" name="CEDULA">
                    </div>
                    <input type="submit" id="boton1" class="btn btn-reddit" value="Buscar" />
                </form>
            </div>
            <div class="tab-pane" id="link2">
                <form method="post" action="Insertar">
                    <div class="form-group">
                        <label for="cedula" class="bmd-label-floating">Cedula</label>
                        <input type="number" class="form-control" id="CEDULA" name="CEDULA">
                    </div>
                    <div class="form-group">
                        <label for="nombre" class="bmd-label-floating">Nombre</label>
                        <input type="text" class="form-control" id="NOMBRE" name="NOMBRE">
                    </div>
                    <div class="form-group">
                        <label for="apellido" class="bmd-label-floating">Apellido</label>
                        <input type="text" class="form-control" id="APELLIDO" name="APELLIDO">
                    </div>
                    <div class="form-group">
                        <label for="telefono" class="bmd-label-floating">Telefono</label>
                        <input type="text" class="form-control" id="TELEFONO" name="TELEFONO">
                    </div>
                    <div class="form-group">
                        <label for="estado" class="bmd-label-floating">Estado</label>
                        <input type="number" class="form-control" id="ESTADO" name="ESTADO">
                    </div>
                    <input type="submit" id="boton2" class="btn btn-reddit" value="Insertar" />
                </form>
            </div>
        </div>
    </div>
</div>
