@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="card">
    <div class="card-header">

        <p class="card-title">By Andres Naranjo.</p>
    </div>
    <div class="card-body">
        <div class="col-12 text-center">
            <h2 style="color:darkorange"><b>ADMINISTRADOR DE VENTAS </b></h2><br />
            <h3>Escoja lo que quiere administrar.</h3>
        </div>
    </div>
</div>